/**
* Author: csdoker
* CreateTime: 2018/6/26
* Info: 文章markdown渲染格式样式
*/

@charset 'utf-8';
.article-inner p {
  margin: 0 0 1.75em
}

.article-inner {
  border-color: #d1d1d1
}

.article-inner h1 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.25;
  margin-top: 2em;
  margin-bottom: 1em
}

.article-inner h2 {
  font-size: 23px;
  line-height: 1.2173913043;
  margin-top: 2.4347826087em;
  margin-bottom: 1.2173913043em
}

.article-inner h3 {
  font-size: 19px;
  line-height: 1.1052631579;
  margin-top: 2.9473684211em;
  margin-bottom: 1.4736842105em
}

.article-inner h4, .article-inner h5, .article-inner h6 {
  font-size: 16px;
  line-height: 1.3125;
  margin-top: 3.5em;
  margin-bottom: 1.75em
}

.article-inner h4 {
  letter-spacing: .140625em;
  /* text-transform: uppercase */
}

.article-inner h6 {
  font-style: italic
}

.article-inner h1, .article-inner h2, .article-inner h3, .article-inner h4, .article-inner h5, .article-inner h6 {
  font-weight: 900
}

.article-inner h1:first-child, .article-inner h2:first-child, .article-inner h3:first-child, .article-inner h4:first-child, .article-inner h5:first-child, .article-inner h6:first-child {
  margin-top: 0
}

.article-inner h1:first-child {
  margin-bottom: 10px;
  display: inline
}

.article-entry {
  line-height: 1.8em;
  padding-right: 8%;
  padding-left: 8%
}

.article-data p {
  margin-top: 10px
}

.article-data li code, .article-data p code {
  padding: 1px 3px;
  margin: 0 3px;
  background: #ddd;
  border: 1px solid #ccc;
  font-family: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace;
  word-wrap: break-word;
  font-size: 14px
}

.article-data blockquote {
  background: #ddd;
  border-left: 5px solid #ccc;
  padding: 15px 20px;
  margin-top: 10px;
  border-left: 5px solid #657b83;
  background: #f6f6f6
}

.article-data blockquote p {
  margin-top: 0;
  margin-bottom: 0
}

.article-data em {
  font-style: italic
}

.article-data ul li:before {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #999;
  border-radius: 10px;
  background: #aaa;
  display: inline-block;
  margin-right: 10px;
  float: left;
  margin-top: 10px
}

.article-data ol {
  counter-reset: item
}

.article-data ol li:before {
  counter-increment: item;
  content: counter(item) ".";
  margin-right: 10px
}

.article-data ol, .article-data ul {
  /* font-size: 14px; */
  margin: 10px 0;
  word-break: break-all;
  word-wrap: break-word;
}

.article-data li ol, .article-data li ul {
  margin-left: 30px
}

.article-data li ol li:before, .article-data li ul li:before {
  content: "";
  background: #dedede
}

.article-data h1 {
  margin-top: 30px
}

.article-data h2, .article-data h3, .article-data h4, .article-data h5, .article-data h6 {
  margin-top: 20px;
  font-weight: 700;
  color: #574c4c;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd
}

.article-data video {
  max-width: 100%
}

.article-data strong {
  font-weight: 700
}

.article-data .caption {
  display: block;
  font-size: .8em;
  color: #aaa
}

.article-data hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff
}

.article-data pre {
  line-height: 1.5;
  margin-top: 10px;
  padding: 5px 15px;
  overflow-x: auto;
  color: #657b83;
  border: 1px solid #ccc;
  /* text-shadow: 0 1px #444; */
  font-family: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace
}

.article-data pre code {
  font-size: 14px
}

.article-data table {
  width: 100%;
  border: 1px solid #dedede;
  margin: 15px 0;
  border-collapse: collapse
}

.article-data table td, .article-data table tr {
  height: 35px
}

.article-data table thead tr {
  background: #f8f8f8
}

.article-data table tbody tr:hover {
  background: #efefef
}

.article-data table td, .article-data table th {
  border: 1px solid #dedede;
  padding: 0 10px
}

.article-data figure table {
  border: none;
  width: auto;
  margin: 0
}

.article-data figure table tbody tr:hover {
  background: none
}
